.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(93, 116, 158, 0.69);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 600px;
  margin-bottom: 100px;
  gap: 30px;
  margin-top: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input {
  width: 220px;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
.search-image {
  background-color: white;
  width: 18px;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.search-image:hover {
  background-color: rgb(238, 174, 202);
}
.first-line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.location-and-date {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sun-image {
  width: 100px;
}
.second-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.degree {
  font-size: 140px;
}
.last-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.entity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.entity-img {
  width: 30px;
  height: 30px;
}
h1 {
  font-size: 16px;
}
