.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.69);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  gap: 60px;
}
.first-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.location-and-date {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sun-image {
  width: 100px;
}
.second-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
.degree {
  font-size: 140px;
}
.last-line {
  display: flex;
  justify-content: space-evenly;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.left-part {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.right-part {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
